body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(25, 17, 42);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 17, 42);
    margin: 5rem;
    gap: 1rem;
    padding: 4rem;
    flex-basis: 80%;
}

button{
    background: inherit;
    /* margin: none; */
    border: none;
}

header{
    display: flex;
    justify-content: end;
    gap: 1rem;
    
}

header .items{
    color: #5a5a5a;
    font-size: large;
}

section{
    display: flex;
    /* border: 1px solid red; */
    border-radius:10px;
    background:linear-gradient(to right,rgb(60, 210, 243),rgb(86, 113, 224));
    justify-content: space-around;
    align-content: center;
    padding: 2rem;
    /* gap:1rem; */
    /* font-size: 150%; */
}

.Resources{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Developers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-content: center; */
    align-self: center;
}

#img{
    width: 100%;
    height: 100px;
    border-radius: 5%;
}

.imageContainer{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

hr{
    margin: 0;
    color: darkblue;
    border-color: blue;
    bottom: 1px;
}

#resources{
    color: blue;
}

#docs{
    color: white;
    background-color: rgb(189, 231, 217);
    border-radius: 20px;
}

.d-items{
    padding: 0.5em 5em 0.5em 0.5em;
}